VITE_SUPABASE_URL=https://fkahcsedfxlnpzxqunta.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZrYWhjc2VkZnhsbnB6eHF1bnRhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzNTg3NTMsImV4cCI6MjA5NDkzNDc1M30.U7fAqKlltDMZaIP6K8xbdLp2dYEemVK8YS7oWhtRt7o
